<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="My sample suite">

	<test name="Google Test">

		<classes>
			<class name="dataprovider.NewTest2"></class>
		</classes>
	</test>

	<test name="Yahoo Test">

		<classes>
			<class   name="dataprovider.NewTest3"></class>
		</classes>
	</test>

</suite>